<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pesquisa de Títulos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img src="/images/logo-algaworks.png" alt="AlgaWorks" /></a>
	</nav>
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Pesquisa de Títulos</h5>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">#</th>
						<th>Descrição</th>
						<th class="text-center">Data de vencimento</th>
						<th class="text-right">Valor</th>
						<th class="text-center">Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>